@import url('reset_1.css');
@import url('commons_1.css');

/* nav 메뉴 */
nav{
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    z-index: 99;
    transition:all .3s
}

.logo img{
    padding-left: 30px;
}
.gnb{
    display: flex;
}
.gnb li{
    margin: 20px 30px;
    position: relative;
}
.gnb li:hover .a-hover:after{
    content: '';
    position: absolute;
    top: -80%;
    left: 50%;
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 100%;
}
.btn{
    padding-right: 30px;
}

.btn .xi-bars{
    font-size: 2.5rem;
}

/* section01 */

.video{
   width: 100%;
   height: 100%;
}
.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section02 */
.section02{
    background-color: #ffffff;
}
.product{
    position: absolute;
    top:35%;
}
.tab ul{
    flex-direction: column;
}
.tab ul li{
    font-style: italic;
    font-size: 2rem;
    margin: 50px 0;
    font-weight: 700;
    color: #999;
    cursor: pointer;
}
.tab ul li:hover h1, .h1-active{
    color: #333;
    transform: scale(1.2);
    border-bottom: 1px solid #333;
    transition: .2s ease;
}
.h1-active::after{
    content: '';
    position: absolute;
    top: -20%;
    left: -5%;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
}
 .tablist{
    width: 65%;
    margin-right: 0;
    align-items: flex-end;
}
.tablist .swiper-wrapper{
    height: 480px;
    align-items: flex-end;
}
.tablist .swiper-wrapper .swiper-slide{
    position: relative;
    height: auto;
}
.tablist .swiper-wrapper .swiper-slide-active .slidetext{
    position: absolute;
    top: -5%;
    left: 5%;
    font-size: 1.2rem;
    background-color: #000;
    color: #fff;
    width: 400px;
    padding: 15px 0;
}
.slidetext{
    font-size: 0;
}
.tablist .swiper-wrapper .swiper-slide img{
    width: 80%;
}
.tablist .swiper-wrapper .swiper-slide-active img{
    width:100% !important;
}
.mySwiper .swiper-wrapper .swiper-slide-active{
    width: 450px !important;
    height: 450px;
}
.tablist .swiper-button-prev{
    top:30px;
    left: 40px;
}
.tablist .swiper-button-next {
    top: 30px;
    left: 35%;
}
.tablist .swiper-button-prev::after{
    content: "\e906";
    color:#fff;
    font-family: 'xeicon';
    font-size: 1.5rem;
}
.tablist .swiper-button-next::after{
    content:"\e907";
    color:#fff;
    font-family: 'xeicon';
    font-size: 1.5rem;
}
/* section03 */
.section03{
    background:linear-gradient(-180deg, #fff 50%, #f0f0f0 50%);
}
.mo-img{
    display: none;
}
.open,.open01,.open02{
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.close{
    position: absolute;
    right: 0;
    top: -20%;
    padding: 20px;
    color: #fff;
    font-size: 2rem;
}
.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    /* width: auto;
    height: 500px; */
}
.videoSwiper{
    cursor: pointer;
    position: relative;
}
.swipertext{
    position: absolute;
    bottom:-5%;
    left: 5%;
    z-index: 99;
    color: #333;
    background-color: #fff;
    padding: 50px;
    width: 270px;
    text-align: left;
}
.swipertext h1{
    font-size: 1.5rem;
    font-weight: 500;
}
.swipertext p{
    font-size: 1rem;
    padding: 30px 0px;
}
.swipericon{
    position: relative;
    padding: 10px;
}
.xi-long-arrow-right{
    position: absolute;
    top:-50%;
    right: -10%;
    font-size: 1.5rem;
    color: #fff;
    background-color: #000;
    border-radius: 100%;
    padding:8px;
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
}
@keyframes arrow {
    0%{
        right: -10%;
    }
    50%{
        right: -13%;
    }
    100%{
        right:-10%;
    }
}
.videoSwiper .swiper-button-prev{
    top:93%;
    left: 7%;
}
.videoSwiper .swiper-button-next{
    top:93%;
    left: 32%;
    color: transparent;
}
.videoSwiper .swiper-button-prev::after{
    content: "\e908";
    color:#333;
    font-family: 'xeicon';
    font-size: 2rem;
}

/* section04 */
.section04{
    background:linear-gradient(-180deg, #f0f0f0 50%, #fff 50%);
}
.eventimg{
    padding: 30px 20px;
    position: relative;
    overflow-x: hidden;
    cursor: pointer;
}
.eventimg img{
    width: 100%;
}
.xi-plus{
    position: absolute;
    bottom: 32px;
    right: 5%;
    font-size: 2rem;
    padding: 15px;
    background-color: #000;
    color: #fff;
}
.event{
    position: absolute;
    opacity: 0;
    bottom:3%;
    left: -100%;
    padding: 30px;
    width: 250px;
    color: #333;
    background-color: #fff;
    transition: 0.5s ease; 
    box-shadow:5px 5px 10px #f0f0f0;  
}
.eventimg:hover .event{
    opacity: 1;
    left: 20%;
}
.event h1{
    font-size: 1.5rem;
    padding-bottom: 30px;
}
.event h4{
    padding: 10px 0;
    font-size: 1rem;
}
/* section05 */
.section05{
    overflow-x: hidden;
}
.newstitle{
    padding: 80px 0;
    background-color: #f0f0f0;
}
.news{
    position: relative;
}
.newsimg{
    align-items: flex-end;
    position: absolute;
    top:-44%;
    right: 0;
}
.newsinfo{
    text-align: right;
    font-size: 1rem;
    line-height: 25px;
    font-weight: 400;
    padding-bottom: 30px ;
    color: #333;
}
.xi-angle-down{
    position: absolute;
    bottom:-5%;
    left: 20%;
    font-size: 2rem;
    color: #333;
    font-weight: 100;
    opacity: 0.5;
    animation: news 2s;
    animation-iteration-count:infinite;
}
@keyframes news{
    0%{
        bottom: -5%;
        opacity: 1;
    }
    50%{
        bottom: -8%;
        opacity: 0.5;
    }
    100%{
        bottom: -5%;
        opacity: 1;
    }
}
/* section06 */
.p-3{
    padding:50px 0;
}
.info h3{
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    padding-bottom:30px;
}
.info h3::after{
    content: '';
    position: absolute;
    top: 8%;
    left: 30%;
    width: 300px;
    height: 1px;
    background-color: #333;
}
.info{
    position: relative;
    padding: 0 80px;
    text-align: left;
    color: #333;
}
.info h1{
    font-size: 2rem;
    padding-bottom: 30px;
}
.info p{
    font-size: 1rem;
    padding: 10px 0 20px 0;
}
/* mainmodal */
.mainmodal{
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.2) !important;
}
.mainmodal .modal-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 30px;
    background-color: white;
    flex-direction: column;
}
.mainmodal .modal-box i{
    position: absolute;
    text-align: right;
    margin: 30px;
    top:5px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.mainmodal .modal-box h2{
    font-size: 2rem;
    font-weight: 700;
    margin: 50px;
    word-break: keep-all;
    text-align: center;
}
/* modal section end */

@media(max-width:1441px){ 
    .tablist .swiper-button-next{
        top:30px;
        left: 40%;
    }
    .modal,.youtube{
        width: 100%;
    }
}
@media(max-width:1028px){
    .product{
        left: 7%;
    }
    .tablist .swiper-button-next{
        left: 57%;
    }
    /* section04 */
    .swipertext{
        bottom: -5%;
        left: 0%;
        padding: 45px;
    }
    .videoSwiper .swiper-button-prev{
        top: 94%;
        left: 3%;
    }
    .videoSwiper .swiper-button-prev::after{
        font-size: 1.5rem;
    }
    .videoSwiper .swiper-button-next{
        left: 34%;
    }
    /* section05 */
    .w-title{
        width: 55%;
    }
    .kanu-title p{
        margin-top: 15px;
    }
    .newstitle{
        padding: 60px 0px;
    }
    .newsimg{
        top: -37%;
        justify-content: flex-end;
    }
    .newsimg img{
        width: 75%;
    }
    /* section06 */
    .p-3{
        align-items: center;
    }
    .info{
        padding: 0 25px;
    }
    .pc-news{
        display: none;
    }
    .mo-news{
        display: block;
        width: 90%;
    }
    .news-bg02 img{
        margin-left: auto;
    }
    .eventimg img{
        width: 65%;
        text-align: center;
    }
    .eventimg{
        pointer-events: none;
        padding: 0px 20px;
    }
    .event{
        word-break: keep-all;
        pointer-events: none;
        opacity: 1;
        bottom: 5%;
        left: 40%;
        padding: 50px 30px;
        width: 420px;
    }
    .mo-news .slick-prev{
        display: none !important;
    }
    .mo-news .slick-next{
        position: absolute;
        bottom: 8%;
        right: 5%;
        background: none;
        border: none;
        font-size: 0;
        z-index: 99;
    }
    .mo-news .slick-next::before{
        content: "\e90b";
        font-size: 2.5rem;
        font-family: 'xeicon';
    }
}
@media(min-width:770px){
    .btn{
        display: none;
    }
    .gnb{
        display: flex !important;
    }
    .mo-logo{
        display: none;
    }
}
@media(max-width:769px){
    .pc-logo{
        display: none;
    }
    .logo{
        z-index: 99;
    }
    .gnb{
        position: absolute;
        top: 0;
        width: 100%;
        height: 600px;
        display: block;
        z-index: 10;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #fff;
        padding-top: 200px;
        margin-top: -900px;
        transition: 0.5s;
    }
    .active{
        margin-top: 0px;
    }
    .gnb li{
        margin: 50px auto;
    }
    .btn{
        cursor: pointer;
        z-index: 99;
    }
    /* section01 */
    .video{
        height: 80vh;
    }
    /* sectino02 */
    .tablist{
        width: 95%;
        margin-top: 80px;
    }
    .product{
        top:22%;
        left: 3%;
    }
    .tab ul{
        flex-direction: row;
    }
    .tab ul li{
        margin: 50px;
    }
    .tablist .swiper-button-next{
        left: 52%;
    }
    /* section03 */
    .videoSwiper .swiper-button-next {
        left: 45%;
    }
    /* section04 */
    .pc-news{
        display: none;
    }
    .mo-news{
        display: block;
        width: 90%;
    }
    .event{
        bottom: 5%;
        left: 40%;
        padding: 30px;
        width: 300px;
    }
    .eventimg img{
        width: 80%;
        text-align: center;
    }
    /* section 05 */
    .newstitle{
        padding: 30px 0;
    }
    .w-title {
        width: 53%;
    }
    .kanu-title p{
        font-size: 1.5rem;
    }
    .newsimg {
        top: -31%;
    }
    .newsimg img {
        width: 63%;
    }
    .xi-angle-down{
        bottom:0%;
    }
    @keyframes news{
        0%{
            bottom: 0%;
            opacity: 1;
        }
        50%{
            bottom: 3%;
            opacity: 0.5;
        }
        100%{
            bottom: 0%;
            opacity: 1;
        }
    }
    /* section06 */
    .info {
        padding: 0px;
    }
    .info h3{
        font-size: 2.5rem;
    }
    .info h3::after{
        left: 25%;
        width: 250px;
    }
    .info h1 {
        font-size: 1.5rem;
    }
}
@media(max-width:545px) {
    html{
        font-size: 14px;
    }
    /* section02 */
    .product {
        top: 24%;
        left: 3%;
    }
    .tab ul li{
        margin: 35px;
        font-size: 1.5rem;
    }
    .tablist .swiper-button-next {
        left: 73%;
    }
    /* section03 */
    .pc-img{
        display: none;
    }
    .mo-img{
        /* width: 100%; */
        display: block;
    }
    .close {
        top:-15%;
    }
    .videoSwiper .swiper-button-next {
        left: 65%;
    }
    /* section04 */
    .event {
        bottom: 3%;
        left: 36%;
        padding: 25px;
        width: 220px;
    }
    .event h1{
        padding-bottom: 15px;
    }
    .eventimg img{
        width: 100%;
    }
    /* section05 */
    .section05{
        padding: 100px 0 80px 0;
    }
    .newstitle{
        padding: 0;
    }
    .newsinfo{
        line-height: 20px;
        font-weight: 400;
        padding-bottom: 10px;
    }
    .newsimg {
        top: -12%;
        right: -5%;
    }
    .newsimg img {
        width: 50%;
    }
    /* section06 */
    .p-3{
        flex-direction: column;
        padding: 30px 0;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    .news-bg02 img {
        margin-left: 0;
    }
    .info {
        padding: 30px 0px 0 0;
    }
    .info h3::after {
        left: 20%;
        top: 17%;
        width: 250px;
    }
    
}
@media(max-width:415px){
    html{
        font-size: 14px;
    }
    .logo img {
        padding-left: 15px;
    }
    .btn{
        padding-right: 15px;
    }
    /* section02 */
    .tablist .swiper-wrapper {
        height: 400px;
    }
    .mySwiper .swiper-wrapper .swiper-slide-active {
        width: 350px !important;
        height: 350px;
    }
    .tablist {
        margin-top: 50px;
    }
    .tab ul li{
        margin: 20px;
    }
    .product {
        top: 26%;
    }
    .tablist .swiper-wrapper .swiper-slide-active .slidetext {
        width: 300px;
    }
    .tablist .swiper-button-next {
        top: 54px;
        left: 68%;
    }
    .tablist .swiper-button-prev {
        top: 55px;
    }
    /* section03 */
    .swipertext {
        bottom: -5%;
        left: 0%;
        padding: 40px 0px 40px 45px;
        width: 100%;
    }
    .videoSwiper .swiper-button-next {
        left: 85%;
    }
    .xi-long-arrow-right {
        right: 17%;
        top: -60%;
    }

    @keyframes arrow{
        0% {
            right: 17%;
        }
        50% {
            right: 20%;
        }
        100% {
            right: 17%;
        }
    }
    /* section04 */
    .slick-track{
        height: 500px;
    }
    .mo-news {
        display: block;
        width: 100%;
    }
    .event {
        left: 20%;
        width: 235px;
    }
    /* section05 */
    .section05 {
        padding: 80px 0 50px 0;
    }
    .kanu-title p{
        display: none;
    }
    .newsinfo {
        position: absolute;
        bottom: 0;
        right: 46%;
        padding-bottom: 0px;
    }
    .newstitle {
        padding: 20px 0;
    }
    .newsimg {
        top: -23%;
    }
    .xi-angle-down {
        left: 10%;
    }
    /* section06 */
    .info h3::after{
        width: 230px;
    }
    /* mainmodal */
    .mainmodal .modal-box{
        width: 280px;
        height: 280px;
    }
}
@media(max-width:380px) {
    .kanu-title h1 {
        font-size: 3.5rem;
    }
    .product {
        left: 7%;
    }
    .tab ul li {
        margin: 20px 10px;
    }
    .tablist {
        width: 90%;
        margin-right: auto;
    }
    .tablist .swiper-button-next {
        left: 78%;
    }
    /* section05 */
    .event {
        bottom: 5%;
        left: 15%;
        width: 230px;
    }
    .newsimg {
        top: -16%;
    }
    /* section06 */
    .info h1 {
        font-size: 1.3rem;
        font-weight: 600;
    }
    .info h3::after {
        width: 220px;
    }
}
@media (max-width:321px) {
    .tab ul li {
        font-size: 1.3rem;
    }
    .tablist {
        margin-top: 0px;
    }
    .tablist .swiper-wrapper .swiper-slide-active .slidetext {
        width: 250px;
    }
    .mySwiper .swiper-wrapper .swiper-slide-active {
        width: 300px !important;
        height: 300px;
    }
    .tablist .swiper-button-prev {
        top: 27%;
        left: 30px;
    }
    .tablist .swiper-button-next {
        top: 27%;
    }
    /* section03 */
    .xi-long-arrow-right {
        right: 20%;
        top: -60%;
    }

    @keyframes arrow{
        0% {
            right: 20%;
        }
        50% {
            right: 23%;
        }
        100% {
            right: 20%;
        }
    }
    
    /* section04 */
    .mo-news .slick-next {
        position: absolute;
        bottom: 7%;
        right: 2%;
    }
    .mo-news .slick-next::before{
        font-size: 2rem;
    }
    /* section05 */
    .section05 {
        padding: 50px 0 30px 0;
    }
    .eventimg img {
        width: auto;
        height: 400px;
    }
    .news .product-text {
        padding-bottom: 50px;
    }
    .newsimg {
        top: -9%;
    }
    /* section06 */
    .info h1 {
        font-size: 1.2rem;
    }
    .info h3::after {
        left: 25%;
        width: 170px;
    }
}