@import url('reset_1.css');
@import url('commons_1.css');

/* nav 메뉴 */
nav{
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    z-index: 99;transition:all .3s
}

.logo img{
    padding-left: 30px;
}
.gnb{
    display: flex;
}
.gnb li{
    margin: 20px 30px;
}
.btn{
    padding-right: 30px;
}
.btn .xi-bars{
    font-size: 2.5rem;
}

/* section01 */
.section01{
    width: 100%;
    position: relative;
}
.video{
   width: 100%;
   height: 100%;
}
.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_title {
    text-align: center;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%,-50%);
}
.main_title h1{
    padding-bottom: 50px;
}
.text_effect{
    position: absolute;
    bottom:100%;
    left: 0%;
    width: 100%;
    height: 0%;
    overflow: hidden;
    transition: 2s ease;
}


/* section02 */
.section02{
    position: relative;
}
.slide_bg::after{
    content: "";
    position: absolute;
    top: 25%;
    right: 0%;
    background-color: #f0f0f0;
    opacity: 0.3;
    z-index: -10;
    padding: 210px 370px;
}
.product-text{
    padding-bottom:50px;
}

.slide h1{
    word-break: keep-all;
    font-size: 1.5rem;
    font-weight: 400;
    color:#333;
    margin: 20px;
}
.slide p{
    word-break: keep-all;
    margin: 30px 20px;
    color: #333;
}

.slider-nav{
    position: relative;
}
.slider-nav .slick-prev{
    position: absolute;
    top:50%;
    right: -7%;
    background:none;
    font-size: 0;
    border: none;
    cursor: pointer;
    z-index: 99;
}
.slider-nav .slick-prev::after{
    content:"\e93b";
    font-family: 'xeicon';
    font-size: 1.5rem;
    color:red;
}

.slider-nav .slick-next{
    position: absolute;
    top:50%;
    right:-15%;
    z-index: 99;
    background: none;
    font-size: 0;
    border: none;
    cursor: pointer;
}
.slider-nav .slick-next::after{
    content:"\e93e";
    font-family: 'xeicon';
    font-size: 1.5rem;
    color:red;
}

.slick-dots{
    display: none !important; 
}
.slick-slide{
    filter: brightness(0.8);
}
.slick-current{
    filter: brightness(1);
}

/* section03 */
.section03{
    background-color: #f0f0f0;
}
.sec-bg1{
    width: 50%;
    height: 50vh;
    background: url('../images/kanu_banner.jpg') no-repeat center;
    background-size: cover;
}
.sec-bg2{
    width: 50%;
    height: 50vh;
    background: url('../images/kanu_video.JPG') no-repeat center;
    background-size: cover;
}
.videoSwiper{
    cursor: pointer;
    position: relative;
}
.swipertext{
    position: absolute;
    bottom:-5%;
    left: 7%;
    z-index: 99;
    color: #333;
    background-color: #fff;
    padding: 50px;
    width: 270px;
    text-align: left;
}
.swipertext h1{
    font-size: 1.5rem;
    font-weight: 500;
}
.swipertext p{
    font-size: 1rem;
    padding: 30px 0px;
}
.swipericon{
    position: relative;
    padding: 10px;
}
.xi-long-arrow-right{
    position: absolute;
    top:-50%;
    right: -10%;
    font-size: 1.5rem;
    color: #fff;
    background-color: #000;
    border-radius: 100%;
    padding:8px;
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
}
@keyframes arrow {
    0%{
        right: -10%;
    }
    50%{
        right: -13%;
    }
    100%{
        right:-10%;
    }
}

/* section05 */
.section05{
    background:linear-gradient(-180deg, #f0f0f0 50%, #fff 50%);
}
.eventimg{
    padding: 20px;
    position: relative;
}
.eventimg img{
    width: 100%;
}
.slide{
    position: absolute;
    top:0;
    left: 0;
}
/* section06 */
.contents .col-25 h1{
    font-size: 1.2rem;
    color: #777;
    padding: 30px 0px;
}
.contents .col-25 p{
    font-size: 2rem;
    word-break: keep-all;
    padding: 30px 0px;
}
.mySwiper{
    height: 500px;
}
.mySwiper .swiper-wrapper{
    align-items: center;
    margin-left: -200px;
}
.mySwiper .swiper-wrapper .swiper-slide{
    width: 300px;
    height: 350px;
    border-radius: 10px;
}
.mySwiper .swiper-wrapper .swiper-slide img{
    width: 300px;
    height: 350px;
    border-radius: 10px;
    filter: brightness(0.8);
}
.mySwiper .swiper-wrapper .swiper-slide-active{
    transform: translateY(-10%);
    transition: .4s;
}
.text_hover{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom:0%;
    /* overflow: hidden; */
    text-align: justify;
    border-radius: 10px;
    word-break: keep-all;
    color: #fff;
    transition: .4s ease;
}
.text_hover h1{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 30px;
}
.text_hover p{
    font-size: 1rem;
    padding: 30px;
}
.swiper-slide:hover .text_hover{
    bottom: 0%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

@media(max-width:1441px){
    .slide_bg::after{
        top: 30%;
    }
}
@media(max-width:1028px){
    .slide_bg::after{
        top: 38%;
        padding:130px 250px;
    }
    .tabmenu{
        margin: 30px auto;
    }
    .tabmenu ul li{
        padding: 30px 0;
    }
    .tabs .row img{
        width: 50%;
    }
    .text h1{
        padding: 30px;
    }
    .text p{
        padding: 0px 0px 30px 30px;
    }
    .tabs div{
        justify-content: flex-end;
    }
    .tabmenu ul li:hover h1::after{
        left: 0%;
        width: 150%;
    }
    .firstlist{
        flex-wrap: wrap;
    }
    .text_hover h1{
        padding: 20px 20px 40px 20px;
    }
}
@media(min-width:770px){
    .btn{
        display: none;
    }
    .mo-logo{
        display: none;
    }
}
@media(max-width:769px){
    .pc-logo{
        display: none;
    }
    .gnb{
        display: none;
    }
    /* sectino02 */
    .slide h1,.slide p{
        margin: 30px auto;
    }
    .slide_bg::after{
        top: 35%;
        padding: 180px 200px;
    }
    .slider-nav .slick-prev{
        top:60%;
        right: -10%;
    }
    .slider-nav .slick-next{
        top:60%;
        right: -18%;
    }
    /* section03 */
    .tabmenu{
        width: 100%;
    }
    .tab img{
        width: 100%;
    }
    .bg03>.product-text,.line>.product-text{
        padding-bottom: 0;
    }
    .text{
        padding: 30px 0px;
    }
    /* section05 */
    .event_p{
        display: block;
    }
    .events_title{
        display: none;
    }
    .events>.col-66{
        width: 100%;
    }
    .swiper-slide{
        width: 45%;
        height: 90%;
    }
    /* section06 */
    .list01 .firstlist .col-25{
        margin:20px auto;
    }
}
@media(max-width:415px){
    .logo img {
        padding-left: 15px;
    }
    .btn{
        padding-right: 15px;
    }
}